<div class="col-8 m-auto" style="background-color: rgb(221, 237, 252);">
    <table class="table table-striped">
        <thead class="text-center p-5">
                <th>ID</th> 
                <th>{{'characters.name'| translate}}</th> 
                <th>{{'characters.species'| translate}}</th> 
                <th>{{'characters.gender'| translate}}</th> 
                <th>{{'characters.image'| translate}}</th>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let personaje of personajes | paginate: { itemsPerPage: 3, currentPage: pagePersonajes}"> 
                <td>{{personaje.id}}</td> <td>{{personaje.name}} </td> <td>{{personaje.species}}</td>
                <td>{{personaje.gender}}</td> <td><img src="{{personaje.image}}" class="d-block w-90 m-auto" height="120px"></td> 
                
            </tr>
        </tbody>
    </table>
    <pagination-controls class="text-center" 
        (pageChange)="pagePersonajes = $event"
        previousLabel="{{'pagination.previus'| translate}}"
        nextLabel="{{'pagination.next'| translate}}">
    </pagination-controls>
</div>
